# Root mapa ALGator projektov.
# V tej mapi so podmape posameznih projektov, npr. Project1, PROJ-BasicSort ...

# Lokalni test iz mape smartCodev4/langserver:
ALGATOR_ROOT=../algator_projects

# Primer za profesorja na Windows:
# ALGATOR_ROOT=D:/ALGATOR_ROOT/data_root/projects

# Primer za strežnik Linux:
# ALGATOR_ROOT=/home/algator/ALGATOR_ROOT/data_root/projects
